.a, .a:hover, .a:focus, .a:active {
    text-decoration: none;
    color: inherit;
    font-size: 23px;
    }
.a:hover{
    color: rgb(10,14,110);
}   
.navbar-brand{
    font-family: 'Original Surfer', cursive;
    color: rgb(0,0,0);
}